<template>
  <div class="hello">
    <h1>Bryan Reilly</h1>
    <ul>
      <li>Senior Systems Engineer</li>
      <li>2120 Blake Street, Apt 416, Denver, Colorado, 80205</li>
      <li>94bryanr@gmail.com</li>
      <li>970-492-5292</li>
      <li>
        <a href="https://www.linkedin.com/in/bryanreilly">LinkedIn</a>
      </li>
    </ul>
    <h2>WORK EXPERIENCE - VISA</h2>
    <ul>
      <li>
        <b>Senior Systems Engineer - July 2019 - Current Position</b>
        <p>Solving production network/middleware issues while simultaneously continuing to move the system to open hardware.</p>
      </li>
      <li>
        <b>Systems Engineer - February 2017 to July 2019</b>
        <p>Contributed to and maintained the core credit card transaction processing system. Focused on middleware components connecting our datacenters and satellite systems. Wrote a channel level encryption package over IBM MQ which is now encrypting production traffic. Collaborated on projects to transition the system away from proprietary IBM software and hardware to an open system to decrease costs.</p>
        <p>Wrote and deployed web applications leveraging modern web development tools/frameworks such as Angular and NodeJS. One such application simulated network traffic to a test system to aid with some performance and regression testing.</p>
      </li>
      <li>
        <b>Software Engineering Intern - May 2016 to August 2016</b>
        <p>Wrote tooling to help engineers analyze card issuer connection problems.</p>
      </li>
      <li>
        <b>Software Engineering Intern - May 2015 to August 2015</b>
        <p>Designed and developed a mock transaction processing system with a team of 5 in C++. Delivered 3 production system updates. Built a memory monitoring tool used during the annual system stress test.</p>
      </li>
    </ul>
    <h2>ADDITIONAL PROJECTS / HIGHLIGHTS</h2>
    <h3>After Graduating</h3>
    <ul>
      <li>
        <b>Springboard Data Science Course</b>
        <p>Used python to draw conclusions against Yelp's public dataset.</p>
      </li>
      <li>
        <b>Visa Hackathon</b>
        <p>Participated in a team of 5 to create a proof of concept fraud detection system for Visa's debit processing system. Project made it to a final round of judging where it was then patented.</p>
      </li>
      <li>
        <b>Languages</b>
        <p>High level of experience: C++11. Moderate level of experience: Python 3, IBM s390x Assembler, Java, Golang, and Javascript.</p>
      </li>
    </ul>

    <h3>While Attending College</h3>
    <ul>
      <li>
        <b>Machine Learning</b>
        <p>Designed a program that drove a physics enabled car in Unity towards reward stars. The system would progress in accuracy with each iteration.</p>
      </li>
      <li>
        <b>Android Programming</b>
        <p>In my spare time I designed, developed, and released a social networking app with colleagues. The app implemented Google Maps, GPS tracking, Amazon Web Services (DynamoDB, Cognito), and Facebook Login.</p>
      </li>
      <li>
        <b>Assembler</b>
        <p>Wrote a two pass assembler in C to convert a subset of assembly language to machine code.</p>
      </li>
    </ul>

    <h2>EDUCATION</h2>
    <h3>Colorado State University - Bachelors in Computer Science - Graduated December 2016</h3>
    <div>
      <b>Computer Science</b>
      <ul>
        <li>Software Development with C++</li>
        <li>Object Oriented Problem Solving</li>
        <li>System Security</li>
        <li>Algorithms and Data Structures</li>
        <li>Computer Organization</li>
        <li>Machine Learning</li>
        <li>Algorithms Theory and Practice</li>
        <li>Operating Systems</li>
        <li>Software Engineering</li>
      </ul>
    </div>
    <div>
      <b>Mathematics</b>
      <ul>
        <li>Linear Algebra</li>
        <li>Calculus I</li>
        <li>Calculus II</li>
        <li>Calculus III</li>
        <li>Combinatorial Theory</li>
        <li>Physics I</li>
        <li>Physics II</li>
        <li>Statistics</li>
      </ul>
    </div>

    <ul>
      <li>
        <b>Triangle</b>
        <p>Fraternity of Engineers, Scientists, and Architects. Social chair from 2015 to 2016.</p>
      </li>
      <li>
        <b>Relevant Reading</b>
        <p>Code Complete, Clean Code, Pragmatic Programmer, CODE, The Design of Everyday Things, How to Solve It</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "ResumePage"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.hello {
  margin: 0 auto;
  max-width: 8in;
}
</style>
