<template>
  <div id="app">
    <ResumePage />
  </div>
</template>

<script>
import ResumePage from "./components/ResumePage.vue";

export default {
  name: "app",
  components: {
    ResumePage
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
